@charset "UTF-8";
/*!
 * Poncho v0.3 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Gobierno Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
 */
/* Libraries */
/* Resources */
html,
body {
  font-size: 16px;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden; }

body {
  background: #F9F9F9;
  color: #111;
  display: table;
  width: 100%; }

hr {
  border-top: 1px solid #ccc;
  margin: 30px 0; }
  hr.hr-lg {
    margin: 60px 0; }

.social-share a {
  font-size: 30px; }

.inline {
  display: inline-block; }

.img-rounded {
  border-radius: 4px; }

section {
  padding: 40px 0; }
  section.section-no-spaced {
    padding: 0; }
  section.section-sm {
    padding: 20px 0; }
  section.section-lg {
    padding: 80px 0; }

.icon-item {
  margin-bottom: 20px; }
  .icon-item i {
    margin-bottom: 0.3em;
    font-size: 6em;
    color: #00b9f1; }
  .icon-item h1, .icon-item h2, .icon-item h3, .icon-item h4, .icon-item h5, .icon-item h5 {
    margin-top: 0 !important; }

h1.icon-item i {
  font-size: 2em; }

aside section {
  float: left;
  margin-bottom: 24px;
  width: 100%; }

.bg-primary {
  background-color: #0072bc !important;
  color: #FFF; }
  .bg-primary *, .bg-primary a {
    color: #FFF !important; }

.bg-success {
  background-color: #46a948 !important;
  color: #FFF; }
  .bg-success *, .bg-success a {
    color: #FFF !important; }

.bg-info {
  background-color: #5bc0de !important;
  color: #FFF; }
  .bg-info *, .bg-info a {
    color: #FFF !important; }

.bg-danger {
  background-color: #d9534f !important;
  color: #FFF; }
  .bg-danger *, .bg-danger a {
    color: #FFF !important; }

.bg-warning {
  background-color: #f0ad4e !important; }

.bg-gray {
  background-color: #e9e9e9; }

.bg-white {
  background-color: #fff; }

.bg-fucsia {
  background-color: #ea1d76 !important;
  color: #FFF; }
  .bg-fucsia *, .bg-fucsia a {
    color: #FFF !important; }

.bg-arandano {
  background-color: #bd1e61 !important;
  color: #FFF; }
  .bg-arandano *, .bg-arandano a {
    color: #FFF !important; }

.bg-uva {
  background-color: #873299 !important;
  color: #FFF; }
  .bg-uva *, .bg-uva a {
    color: #FFF !important; }

.bg-cielo {
  background-color: #009dda !important;
  color: #FFF; }
  .bg-cielo *, .bg-cielo a {
    color: #FFF !important; }

.bg-verdin {
  background-color: #82bc00 !important;
  color: #FFF; }
  .bg-verdin *, .bg-verdin a {
    color: #FFF !important; }

.bg-lima {
  background-color: #cfde00 !important; }

.bg-maiz {
  background-color: #ffce00 !important; }

.bg-tomate {
  background-color: #ff4338 !important;
  color: #FFF; }
  .bg-tomate * {
    color: #FFF; }

a.bg-primary,
a.bg-success,
a.bg-info,
a.bg-warning,
a.bg-danger {
  color: #FFF;
  display: block;
  padding: 6px 0; }
  a.bg-primary:hover,
  a.bg-success:hover,
  a.bg-info:hover,
  a.bg-warning:hover,
  a.bg-danger:hover {
    opacity: 0.9;
    text-decoration: underline; }
  a.bg-primary p,
  a.bg-success p,
  a.bg-info p,
  a.bg-warning p,
  a.bg-danger p {
    font-size: 16px; }

.text-primary {
  color: #0072bc !important; }

.text-secondary {
  color: #00b9f1 !important; }

.text-success {
  color: #46a948 !important; }

.text-info {
  color: #5bc0de !important; }

.text-warning {
  color: #f0ad4e !important; }

.text-danger {
  color: #d9534f !important; }

.text-fucsia {
  color: #ea1d76 !important; }

.text-arandano {
  color: #bd1e61 !important; }

.text-uva {
  color: #873299 !important; }

.text-cielo {
  color: #009dda !important; }

.text-verdin {
  color: #82bc00 !important; }

.text-lima {
  color: #cfde00 !important; }

.text-maiz {
  color: #ffce00 !important; }

.text-tomate {
  color: #ff4338 !important; }

.page-sidebar {
  margin-bottom: 48px;
  padding: 0; }
  .page-sidebar li {
    font-size: 18px; }
  .page-sidebar a {
    display: block;
    padding: 5px 0; }
  .page-sidebar .nav {
    font-weight: 500;
    text-transform: none; }
  .page-sidebar .btn-title {
    border: medium none;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 8px;
    margin-top: 6px;
    text-align: left;
    text-shadow: none;
    vertical-align: middle;
    white-space: normal;
    width: 100%; }
  .page-sidebar .nav-pills li.active > a,
  .page-sidebar .nav-pills li > a:hover {
    background-color: #e9e9e9;
    border-color: #e9e9e9; }
  .page-sidebar .nav-pills li.btn-title > a {
    padding: 10px 20px; }
  .page-sidebar .nav-pills li > a {
    padding: 13px 20px; }
    .page-sidebar .nav-pills li > a:hover {
      border-color: #e9e9e9; }
    .page-sidebar .nav-pills li > a:visited {
      color: #705582; }
  .page-sidebar .nav-pills li.disabled > a {
    color: #ccc; }
    .page-sidebar .nav-pills li.disabled > a:hover {
      border-color: #e9e9e9; }
  .page-sidebar .nav-pills > li.active > a,
  .page-sidebar .nav-pills > li.active > a:hover,
  .page-sidebar .nav-pills > li.active > a:focus {
    background-color: #0072bc;
    border: 0;
    color: #F9F9F9; }
  .page-sidebar .nav > li > a:hover,
  .page-sidebar .nav > li > a:focus {
    background-color: #e9e9e9;
    text-decoration: none; }
  .page-sidebar .nav-pills a {
    color: #606060; }
  .page-sidebar .badge {
    background-color: transparent;
    color: #606060;
    font-size: 16px;
    font-weight: 500; }

dd {
  margin-bottom: 15px; }

.ribbon {
  display: inline-block;
  font-weight: 500;
  margin: 0 40px 10px 0;
  padding: 11px 0px;
  text-transform: uppercase; }
  .ribbon i {
    font-size: 1.5em;
    margin-right: 5px;
    position: relative;
    top: 2px; }

.well {
  border-color: #ccc;
  box-shadow: none;
  margin: 30px 0; }

.alert a {
  text-decoration: underline; }

.credits p {
  color: #767676;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  margin-top: 40px; }

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.6em; }

  h3 {
    font-size: 32px; }

  article h1.icon {
    font-size: 8em;
    line-height: 1.5;
    text-align: center; } }
@media screen and (min-width: 768px) {
  .open .submenu {
    display: table; }
    .open .submenu > div {
      display: table-cell; }

  .submenu li a {
    padding-right: 60px !important; } }
@media screen and (max-width: 767px) {
  blockquote {
    text-align: center; }
    blockquote img {
      margin: 0 auto;
      padding: 0 45px 16px; } }
#search_wrapper {
  display: none;
  margin-top: 5px;
  padding-right: 0; }
  #search_wrapper .glyphicon-search {
    color: #0072bc; }
  #search_wrapper span.bg-primary {
    border-radius: 4px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    padding: 3px 7px; }
  #search_wrapper input {
    font-size: 1.1em; }
  #search_wrapper .input-group-addon,
  #search_wrapper .form-control {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0; }
  #search_wrapper .stylish-input-group .input-group-addon {
    background: #fff !important;
    padding: 10px 16px; }
  #search_wrapper .stylish-input-group .form-control {
    border-color: #ccc;
    box-shadow: 0 0 0; }
  #search_wrapper .stylish-input-group button {
    background: transparent;
    border: 0; }

.additional_data {
  padding-top: 0;
  text-align: right; }

.title-description .additional_data {
  padding-top: 15px; }

.state-loading {
  position: relative; }
  .state-loading:before {
    -webkit-animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation: loader .6s linear;
    animation-iteration-count: infinite;
    border-color: #767676 #F9F9F9 #F9F9F9;
    border-radius: 600rem;
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
    content: '';
    height: 2.2585em;
    left: 50%;
    margin: -1.12925em 0 0 -1.12925em;
    position: absolute;
    top: 50%;
    width: 2.2585em;
    z-index: 5; }
  .state-loading:after {
    background-color: rgba(204, 204, 204, 0.7);
    border-radius: 4px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4; }

@keyframes loader {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.row-news {
  margin-bottom: 24px; }

.row-ministerios {
  margin-bottom: 10px; }

.img-full {
  width: 100%; }

.margin-0 {
  margin-bottom: 0 !important; }

.margin-20 {
  margin-bottom: 20px !important; }

.margin-40 {
  margin-bottom: 40px !important; }

.margin-60 {
  margin-bottom: 60px !important; }

.padding-0 {
  padding-top: 0px !important; }

.padding-20 {
  padding-top: 20px !important; }

.padding-40 {
  padding-top: 40px !important; }

.padding-60 {
  padding-top: 60px !important; }

.align-bottom {
  position: absolute;
  bottom: 30px;
  left: 0; }

.row-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  margin: .5em 0; }
  h1 small,
  h1 .small,
  h2 small,
  h2 .small,
  h3 small,
  h3 .small,
  h4 small,
  h4 .small,
  h5 small,
  h5 .small,
  h6 small,
  h6 .small,
  .h1 small,
  .h1 .small,
  .h2 small,
  .h2 .small,
  .h3 small,
  .h3 .small,
  .h4 small,
  .h4 .small,
  .h5 small,
  .h5 .small,
  .h6 small,
  .h6 .small {
    color: #767676; }
  h1.section-title,
  h2.section-title,
  h3.section-title,
  h4.section-title,
  h5.section-title,
  h6.section-title,
  .h1.section-title,
  .h2.section-title,
  .h3.section-title,
  .h4.section-title,
  .h5.section-title,
  .h6.section-title {
    color: #767676;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px; }

h1, .h1 {
  font-size: 28px; }
  h1.section-title, .h1.section-title {
    font-size: 1.8em; }

h2, .h2 {
  font-size: 26px; }
  h2.section-title, .h2.section-title {
    font-size: 1.6em; }

h3, .h3 {
  font-size: 24px; }
  h3.section-title, .h3.section-title {
    font-size: 1.4em; }

h4, .h4 {
  font-size: 22px; }
  h4.section-title, .h4.section-title {
    font-size: 1.2em; }

h5, .h5 {
  font-size: 20px; }
  h5.section-title, .h5.section-title {
    font-size: 1em; }

h6, .h6 {
  font-size: 18px; }
  h6.section-title, .h6.section-title {
    font-size: 0.8em; }

a {
  color: #0695d6 !important;
  font-weight: 500; }
  §
  a:hover, a:focus, a:active {
    color: #0a9eff;
    text-decoration: none; }

main a:not(.btn) {
  word-wrap: break-word;
  word-break: break-word; }

p,
ul,
ol,
p {
  font-weight: 300; }

b, strong {
  font-weight: 600; }

.text-muted {
  color: #767676; }

.text-gray {
  color: #444; }

.lead {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.2; }

.jumbotron h1.h1-sm {
  font-size: 44px; }

h2.h2-lg {
  font-size: 4em; }

h3.h3-lg {
  font-size: 2.85em; }

h4.h4-lg {
  font-size: 2.3em; }

article h1.icon {
  font-size: 7em;
  line-height: 2.5;
  margin: 0; }
  article h1.icon.aside {
    line-height: 1.5;
    text-align: center; }

.row-color h3 {
  color: #fff;
  font-size: 32px;
  margin-top: 10px; }

.content_format h2,
.content_format h3,
.content_format h4,
.content_format h5,
.content_format h6,
.content_format .h2,
.content_format .h3,
.content_format .h4,
.content_format .h5,
.content_format .h6 {
  margin-top: 2em; }
.content_format li {
  margin: 0 0 15px; }
.content_format .additional_data h1,
.content_format .additional_data h2,
.content_format .additional_data h3,
.content_format .additional_data h4,
.content_format .additional_data h5,
.content_format .additional_data h6 {
  margin-top: 10px; }
.content_format .credits p {
  color: #767676;
  font-size: 13px;
  line-height: 15px;
  margin-top: 40px; }

@media (min-width: 768px) {
  p, .lead {
    font-size: 16px; } }
@media (min-width: 992px) {
  p, li {
    font-size: 18px; }

  .jumbotron li {
    font-size: 16px; }

  .lead {
    font-size: 1.3em; }

  h1, .h1 {
    font-size: 2.5em; }

  h2, .h2 {
    font-size: 2.285714em; }

  h3, .h3 {
    font-size: 2em; }

  h4, .h4 {
    font-size: 1.714285em; }

  h5, .h5 {
    font-size: 1.3em; }

  h6, .h6 {
    font-size: 1em; } }
.btn-primary {
  background-color: #0072bc; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.focus, .btn-primary.active {
    background-color: #0091ef; }

.btn-success {
  background-color: #46a948; }
  .btn-success:hover, .btn-success:focus {
    background-color: #63bf65; }

.btn-info {
  background-color: #5bc0de; }
  .btn-info:hover, .btn-info:focus {
    background-color: #85d0e7; }

.btn-warning {
  background-color: #f0ad4e; }
  .btn-warning:hover, .btn-warning:focus {
    background-color: #f4c37d; }

.btn-danger {
  background-color: #d9534f; }
  .btn-danger:hover, .btn-danger:focus {
    background-color: #e27c79; }

.btn-link {
  border-radius: 4px;
  color: #0072bc;
  text-decoration: underline !important;
  background-color: #e9e9e9 !important; }
  .btn-link:hover, .btn-link:focus {
    background-color: #ccc !important;
    color: #0072bc; }

.navbar-default .navbar-nav > .open > .dropdown-toggle.btn-primary {
  background-color: #0072bc; }
.navbar-default .navbar-nav > .open > .dropdown-toggle.btn-success {
  background-color: #46a948; }

.btn-inverse {
  background-color: #e9e9e9;
  color: #767676; }
  .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
    background-color: #ccc;
    color: #111; }

.open > .dropdown-toggle.btn-inverse {
  background-color: #fff;
  color: #0072bc; }

.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled],
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: #ccc; }

.btn-default {
  background-color: #767676;
  color: #fff; }
  .btn-default:hover, .btn-default:focus {
    background-color: #9d9d9d;
    color: #fff; }

.btn {
  border: 0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 16px 25px;
  text-transform: uppercase;
  vertical-align: top;
  white-space: initial;
  word-break: initial; }
  .btn:hover {
    border: 0; }
  .btn.btn-lg {
    font-size: 20px;
    padding: 20px 40px; }
  .btn.btn-sm {
    font-size: 14px;
    padding: 5px 10px; }
  .btn.btn-xs {
    font-size: 12px;
    padding: 1px 5px; }

.input-group-btn .btn {
  margin-top: 0; }

.btn-xl {
  font-size: 24px;
  line-height: 32px;
  margin-top: 32px;
  padding: 24px 96px; }

.social-btn a {
  color: #0072bc; }

.form-tramite .btn {
  height: 49px; }

span.btn:hover {
  cursor: default; }

.btn-group .btn-default {
  background: #e9e9e9;
  color: #444;
  border-right: 1px solid #ccc; }
  .btn-group .btn-default:last-of-type {
    border: none; }
  .btn-group .btn-default:hover {
    background: #ccc; }
  .btn-group .btn-default.active, .btn-group .btn-default:active {
    background: #0072bc;
    color: #fff;
    box-shadow: none;
    cursor: default; }
.btn-group.btn-group-vertical .btn {
  border: none;
  border-radius: 4px !important; }
.btn-group.btn-group-vertical.btn-group-justified {
  display: block; }
  .btn-group.btn-group-vertical.btn-group-justified .btn {
    display: block;
    width: 100%; }

.navbar .open > .dropdown-menu {
  border: inherit; }

.navbar ul li .dropdown-menu {
  background: #0072bc !important; }
  .navbar ul li .dropdown-menu li a {
    color: #fff;
    text-transform: uppercase;
    border-bottom: none; }
  .navbar ul li .dropdown-menu > li > a:hover, .navbar ul li .dropdown-menu li a:hover, .navbar ul li .dropdown-menu > li > a:focus, .navbar ul li .dropdown-menu li a:focus {
    background-color: #0091ef;
    color: white; }

.open > .dropdown-menu {
  border: 1px solid #dbdbdb; }

.dropdown-menu {
  padding: 0; }
  .dropdown-menu li a {
    border-bottom: 1px solid #dbdbdb;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 16px;
    padding: 12px 15px; }
  .dropdown-menu li a:not(.btn):hover,
  .dropdown-menu li a:not(.btn):focus {
    background-color: #0072bc;
    color: white; }
  .dropdown-menu li:first-of-type a {
    border-radius: 4px 4px 0 0; }
  .dropdown-menu li:last-of-type a {
    border-radius: 0 0 4px 4px;
    border: none; }

.navbar-inverse .dropdown-menu > li > a,
.navbar-inverse .dropdown-menu li a {
  font-size: 12px;
  font-weight: 500;
  padding: 8px 15px !important; }

.submenu .dropdown-header {
  color: white;
  padding: 0 15px !important;
  margin: 8px 0;
  opacity: .7;
  font-weight: 700;
  font-size: 24px; }

.dropdown-menu .divider {
  background-color: rgba(255, 255, 255, 0.4) !important; }

.dropdown-menu > li > a:hover,
.dropdown-menu li a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu li a:focus {
  color: #fff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    padding: 12px 15px; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #fff; } }
.navbar {
  min-height: 72px; }
  .navbar .navbar-brand {
    padding: 10px 15px; }
    .navbar .navbar-brand img {
      float: left;
      max-width: 100%; }
    .navbar .navbar-brand h1 {
      color: #444;
      float: left;
      font-size: 30px;
      line-height: 1.4;
      margin: 4px 0 4px 12px; }
      .navbar .navbar-brand h1 strong {
        color: #767676; }
      .navbar .navbar-brand h1.brand-2-h1 {
        color: #767676; }
        .navbar .navbar-brand h1.brand-2-h1 strong {
          color: #0072bc; }
    .navbar .navbar-brand.solo h1 {
      margin-top: .7em; }
  .navbar a.navbar-brand:hover h1 {
    color: #767676; }
  .navbar .btn.btn-login {
    margin-left: 0;
    float: right; }

header .btn {
  margin: 13px 0 0 13px;
  padding: 12px 15px; }
header .btn-group > .btn:first-child {
  margin-left: 13px; }

.navbar-header .duelo {
  margin: 14px 0 0 17px; }

.navbar-brand {
  height: 72px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.6; }

.navbar-brand-2 h1 {
  color: #767676; }
  .navbar-brand-2 h1 strong {
    color: #0072bc; }

.navbar-toggle {
  float: left;
  margin: 20px 0 0 0px; }

a.btn {
  line-height: 1.42857143; }

.navbar-default {
  position: relative;
  background-color: #fff;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  z-index: 9; }
  .navbar-default .nav > li > a {
    color: #0072bc;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
    padding-top: 22px;
    text-transform: uppercase; }
  .navbar-default .navbar-brand {
    color: #111; }
    .navbar-default .navbar-brand:hover {
      color: #111; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #0072bc;
    color: #fff; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background: #0072bc;
    color: #fff; }
  .navbar-default .navbar-nav > .btn {
    margin: 13px 0 0 13px;
    padding: 12px 15px; }
  .navbar-default .navbar-nav > .btn-group > .btn:first-child {
    margin-left: 13px; }
  .navbar-default .glyphicon-search {
    font-size: 20px;
    top: 4px; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: 0; }
  .navbar-default .navbar-toggle {
    border-color: transparent; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #0072bc; }
      .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #fff; }

.navbar-inverse {
  background-color: #0072bc;
  border-color: #0072bc;
  margin: 0;
  min-height: 32px; }
  .navbar-inverse .nav > li > a {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 15px; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0072bc;
    color: #fff; }

.navbar-top {
  border-radius: 0; }

.navbar-error {
  min-height: 70px; }
  .navbar-error .navbar-header .navbar-brand {
    float: none;
    margin: 0 auto !important;
    width: 300px; }

.nav.navbar-social li.text-muted {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.2;
  margin: 1.1em .6em;
  text-transform: none; }
.nav.navbar-social li a {
  font-size: 2.9em !important;
  height: 70px;
  line-height: .5; }

.navbar-form .form-control {
  border: solid 1px #ccc;
  border-right: 0;
  color: #111;
  font-size: 16px;
  height: 49px;
  padding-top: 12px;
  top: 4px; }
.navbar-form .btn {
  margin-top: 4px; }

.nav-news {
  padding: 48px 0 40px; }
  .nav-news li {
    float: left; }
  .nav-news a {
    border-radius: 4px;
    color: #0072bc;
    text-decoration: none; }
  .nav-news .active a, .nav-news .active a:hover, .nav-news .active a:focus {
    background-color: #767676 !important;
    color: #fff;
    text-decoration: none !important; }

.nav-news-mini {
  padding: 0 0 24px; }

.tab-content .tab-pane {
  position: relative; }

@media (max-width: 992px) {
  .navbar-brand h1 {
    font-size: 18px;
    margin: 7px 0 7px 12px; }

  .navbar-default .nav > li > a {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px; } }
.nav.nav-icons {
  text-align: center; }
  .nav.nav-icons li {
    display: inline-block; }
    .nav.nav-icons li a {
      font-weight: 400;
      text-align: center;
      width: 190px;
      vertical-align: top; }
      .nav.nav-icons li a:hover {
        background: none; }
      .nav.nav-icons li a i {
        display: inline-block;
        width: 80px;
        height: 80px;
        background: #767676;
        color: #fff;
        line-height: 2.5;
        font-size: 2em;
        border-radius: 100px;
        margin-bottom: 10px;
        transition: background 0.2s, color 0.2s, opacity 0.2s; }
      .nav.nav-icons li a span {
        font-size: 16px;
        display: block;
        color: #767676;
        transition: color 0.2s; }
      .nav.nav-icons li a:hover, .nav.nav-icons li a:focus {
        background: none; }
        .nav.nav-icons li a:hover i, .nav.nav-icons li a:focus i {
          opacity: 0.8; }
        .nav.nav-icons li a:hover span, .nav.nav-icons li a:focus span {
          color: #444; }
  .nav.nav-icons.nav-icons-selected li:not(.active):not(:hover) a:not(:focus) i {
    background: #ccc !important;
    color: #767676 !important; }
  .nav.nav-icons.nav-icons-selected li:not(.active) a:hover i,
  .nav.nav-icons.nav-icons-selected li:not(.active) a:focus i {
    opacity: 0.7;
    color: #111 !important; }

@media screen and (min-width: 768px) {
  .navbar-form {
    margin-right: 0; }
    .navbar-form .input-group > .form-control {
      width: 284px; }

  .navbar-inverse .collapse {
    margin-left: -45px;
    margin-right: -30px; } }
@media screen and (max-width: 767px) {
  .navbar-default .nav > li > a {
    padding-top: 12px;
    padding-bottom: 10px; }
  .navbar-default .btn {
    margin: 13px 0 0 13px;
    padding: 12px 15px; }
  .navbar-default .btn-group {
    width: 100%; }
    .navbar-default .btn-group > .btn {
      margin: 13px 0 !important;
      float: none;
      width: 100%;
      border-radius: 4px; }

  .navbar-form {
    margin-left: 0;
    margin-right: 0; }

  .navbar .navbar-brand {
    padding-right: 0; }

  .panel-index .navbar-brand {
    padding: 14px 15px !important; }
    .panel-index .navbar-brand h1 {
      font-size: 14px !important;
      margin-left: 0 !important; }
    .panel-index .navbar-brand .brand {
      height: 36px; } }
@media (max-width: 410px) {
  .navbar-default {
    min-height: 64px; }

  .navbar-toggle {
    margin-top: 15px; }

  .navbar .navbar-brand {
    height: 64px;
    padding: 14px 15px;
    line-height: 1.8; }
    .navbar .navbar-brand img {
      height: 36px;
      width: auto; }
    .navbar .navbar-brand h1 {
      font-size: 14px;
      margin-left: 10px; }
  .navbar .btn-login {
    margin-top: 9px; } }
@media (max-width: 350px) {
  .navbar .navbar-brand {
    padding: 14px 5px 14px; }
    .navbar .navbar-brand img {
      height: 32px; }
    .navbar .navbar-brand h1 {
      margin-top: 8px; }
      .navbar .navbar-brand h1 span {
        display: none; }
    .navbar .navbar-brand br {
      display: none; } }
     
.main-footer {
  background: #fff;
  padding-bottom: 32px;
  padding-top: 60px; }
  .main-footer .row > div:first-child {
    padding-right: 30px; }
  .main-footer ul {
    margin-bottom: 32px;
    padding: 0; }
  .main-footer li {
    list-style: none; }
    .main-footer li a {
      display: block;
      font-size: 16px;
      padding: 6px 0; }
      .main-footer li a:hover, .main-footer li a:focus {
        text-decoration: underline; }
  .main-footer h4 {
    color: #767676; }
  .main-footer img.image-responsive {
    margin-bottom: 20px;
    max-width: 300px;
    display: block; }

.brand-footer {
  padding: 0;
  width: 100%; }
  .brand-footer img {
    float: none;
    margin: 0 auto; }

body.sticky-footer {
  height: 100%; }
  body.sticky-footer .main-footer {
    display: table-row;
    height: 1px; }
    body.sticky-footer .main-footer > div {
      padding-bottom: 30px;
      padding-top: 60px; }

.list-group-item {
  border: 0;
  border-bottom: solid 1px #ccc;
  color: #767676;
  display: block;
  font-weight: 400;
  margin-bottom: 0;
  padding: 16px 15px;
  width: 100%; }
  .list-group-item:last-child {
    border: 0; }

a.list-group-item {
  color: #111;
  font-weight: 500; }
  a.list-group-item:hover, a.list-group-item:focus, a.list-group-item:hover small, a.list-group-item:focus small {
    background-color: #0072bc;
    color: #fff; }

.list-group-agenda {
  display: table;
  width: 100%; }
  .list-group-agenda h4 {
    font-weight: 700;
    margin-top: 4px; }

.agenda-date {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 56px; }
  .agenda-date h1,
  .agenda-date h2,
  .agenda-date h3,
  .agenda-date h4,
  .agenda-date h5,
  .agenda-date h6,
  .agenda-date .h1,
  .agenda-date .h2,
  .agenda-date .h3,
  .agenda-date .h4,
  .agenda-date .h5,
  .agenda-date .h6 {
    font-weight: 400; }
  .agenda-date h3 {
    margin-top: 0; }
  .agenda-date h4 {
    font-size: 1.2em;
    margin: 0; }
    .agenda-date h4 small {
      display: block;
      font-size: .9em;
      margin-top: 6px; }
  .agenda-date strong {
    display: block;
    font-size: 28px; }

.agenda-small {
  width: 30px; }

.agenda-info {
  display: table-cell;
  margin-top: -15px;
  padding-left: 15px;
  vertical-align: top; }
  .agenda-info h1,
  .agenda-info h2,
  .agenda-info h3,
  .agenda-info h4,
  .agenda-info h5,
  .agenda-info h6,
  .agenda-info .h1,
  .agenda-info .h2,
  .agenda-info .h3,
  .agenda-info .h4,
  .agenda-info .h5,
  .agenda-info .h6 {
    font-weight: 400; }
  .agenda-info h4 {
    font-weight: normal; }

.list-group-areas h3 {
  font-weight: 700;
  margin-top: 0; }

.steps .step {
  position: relative;
  min-height: 32px; }
  .steps .step > div:first-child {
    position: static;
    height: 0; }
  .steps .step > div:last-child {
    margin-left: 32px;
    padding-left: 16px; }
  .steps .step .circle {
    background: #ccc;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    position: relative;
    color: white;
    text-align: center; }
  .steps .step .line {
    position: absolute;
    border-left: 1px solid #ccc;
    left: 16px;
    bottom: 10px;
    top: 42px; }
  .steps .step:last-child .line {
    display: none; }
  .steps .step .description {
    padding-bottom: 40px; }
  .steps .step:last-of-type .description {
    padding: 0; }

.breadcrumb {
  background: transparent;
  border: 0;
  font-weight: 400;
  margin: 16px 0 0;
  padding: 0;
  text-transform: none; }
  .breadcrumb li {
    font-size: 14px;
    line-height: 22px; }
  .breadcrumb a {
    color: #0072bc; }
    .breadcrumb a:hover {
      color: #0a9eff; }
  .breadcrumb > li + li:before, .breadcrumb > .active {
    color: #767676; }

.section-actions {
  margin: 16px 0 24px; }

.jumbotron_bar .breadcrumb > li + li:before, .jumbotron_bar .breadcrumb > .active {
  color: #ccc; }

.pagination {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 64px;
  margin-top: 60px;
  text-transform: uppercase; }

.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  color: #0072bc;
  float: left;
  line-height: 1.42857;
  margin: 0 2px;
  padding: 10px 17px;
  position: relative;
  text-decoration: none; }

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: #e9e9e9;
  border-color: transparent;
  color: #0072bc; }

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #767676;
  border-color: #0072bc;
  color: #F9F9F9;
  cursor: default;
  z-index: 2; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: #f8f5f0;
  border-color: #dfd7ca;
  color: #dfd7ca;
  cursor: not-allowed; }

article > div > header {
  border-bottom: solid 1px #ccc;
  margin-bottom: 48px;
  padding-bottom: 12px; }
article a {
  text-decoration: underline; }
  article a.btn {
    text-decoration: none; }
  article a:hover, article a:focus {
    text-decoration: underline; }
article p {
  line-height: 1.6;
  margin-bottom: 24px; }
article ul {
  margin-bottom: 24px;
  margin-top: 24px; }
  article ul.ul-lg li {
    font-size: 1.4em;
    line-height: 1.6; }
article li {
  font-size: 16px;
  line-height: 24px; }
article footer {
  border-top: solid 1px #ccc;
  margin-bottom: 32px;
  margin-top: 24px;
  padding-top: 16px; }
  article footer h3 {
    font-weight: 400; }
article .social-date h4 {
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px; }
article h1.first, article h2.first, article h3.first, article h4.first, article h5.first, article h6.first {
  margin-top: 0; }
@media only screen and (min-width: 1200px) {
  article .overlap {
    background: #F9F9F9;
    border-radius: 4px;
    box-sizing: content-box;
    left: -60px;
    margin-top: -60px;
    padding: 20px 60px 0;
    position: relative; }
    article .overlap h1 {
      margin-top: .5em; } }

figure {
  margin: 24px 0 32px; }
  figure img {
    border-radius: 4px;
    margin-bottom: 16px;
    max-width: 100%; }
  figure figcaption {
    color: #767676;
    margin-bottom: 24px;
    text-align: center; }

blockquote {
  border: 0;
  margin: 32px;
  padding: 0; }
  blockquote cite {
    color: #767676; }
  blockquote p {
    font-size: 22px !important;
    line-height: 1.3;
    margin-bottom: 8px;
    margin-top: 8px; }
  blockquote small,
  blockquote footer {
    color: #767676;
    font-size: 16px;
    font-style: italic;
    margin-top: 10px; }
  blockquote.quote-highlighted {
    margin: 0 50px 0;
    position: relative; }
    blockquote.quote-highlighted p {
      font-size: 1.5em !important;
      font-style: italic;
      text-align: center; }
      blockquote.quote-highlighted p span.quotemark-open {
        position: absolute;
        left: -50px;
        color: #767676;
        font-size: 4em;
        font-style: normal;
        margin-top: -30px; }
      blockquote.quote-highlighted p span.quotemark-close {
        position: absolute;
        right: -40px;
        color: #767676;
        font-size: 4em;
        font-style: normal;
        margin-top: -50px; }
    blockquote.quote-highlighted small,
    blockquote.quote-highlighted footer {
      color: #767676;
      font-size: 20px;
      font-style: italic;
      margin-top: 10px; }

.article-news article section {
  font-family: "Droid Serif", serif; }
.article-news p {
  font-size: 18px; }
.article-news li {
  font-size: 18px;
  margin-bottom: 6px; }

.title-description hr {
  margin-bottom: 0; }

.related-news {
  margin-bottom: 70px; }

.overlap h1 {
  margin-top: 60px; }

@media (min-width: 992px) {
  article li {
    font-size: 18px; } }
.panel {
  margin-bottom: 30px; }
  .panel h1,
  .panel h2,
  .panel h3,
  .panel h4,
  .panel h5,
  .panel h6,
  .panel .h1,
  .panel .h2,
  .panel .h3,
  .panel .h4,
  .panel .h5,
  .panel .h6 {
    font-weight: 400;
    line-height: 1.3;
    margin: .25em 0; }
  .panel h1,
  .panel .h1 {
    font-size: 1.714285em; }
  .panel h2,
  .panel .h2 {
    font-size: 1.5em; }
  .panel h3,
  .panel .h3 {
    font-size: 1.3em; }
  .panel h4,
  .panel .h4 {
    font-size: 1.1em; }
  .panel h5,
  .panel .h5 {
    font-size: 1em; }
  .panel h6,
  .panel .h6 {
    font-size: .9em; }
  .panel h1 small,
  .panel .h1 small,
  .panel h2 small,
  .panel .h2 small,
  .panel h3 small,
  .panel .h3 small,
  .panel h4 small,
  .panel .h4 small,
  .panel h5 small,
  .panel .h5 small,
  .panel h6 small,
  .panel .h6 small {
    font-size: 80%;
    font-weight: 300; }
  .panel dd {
    font-weight: 600; }
  .panel dt {
    font-weight: 400; }
  .panel .panel-body > time {
    display: block; }
  .panel .panel-body .link-list a {
    display: block;
    margin: 15px 0 20px; }
  .panel .panel-body p:last-of-type {
    margin-bottom: 0; }
  .panel time {
    margin: 5px 0;
    opacity: .6; }
  .panel span time {
    opacity: 1; }

.panel-default,
.list-group {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #111;
  display: block;
  text-decoration: none !important; }

.panel-disabled {
  background: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  color: #111;
  display: block;
  text-decoration: none !important; }

a.panel,
a.panel .h1,
a.panel .h2,
a.panel .h3,
a.panel .h4,
a.panel .h5,
a.panel .h6,
a.panel small,
a.panel p {
  transition: background 0.15s, color 0.15s; }
a.panel .panel-heading {
  transition: opacity 0.15s; }
a.panel:hover, a.panel:focus {
  background: #0072bc;
  color: #fff; }
  a.panel:hover small, a.panel:focus small {
    color: #fff; }
  a.panel:hover .text-muted,
  a.panel:hover .text-primary,
  a.panel:hover .text-secondary,
  a.panel:hover .text-success,
  a.panel:hover .text-warning,
  a.panel:hover .text-danger, a.panel:focus .text-muted,
  a.panel:focus .text-primary,
  a.panel:focus .text-secondary,
  a.panel:focus .text-success,
  a.panel:focus .text-warning,
  a.panel:focus .text-danger {
    color: #fff !important; }
  a.panel:hover .panel-heading, a.panel:focus .panel-heading {
    opacity: .8; }

.panel-default > .panel-heading {
  background-position: center center;
  background-size: cover;
  border: 0;
  min-height: 152px; }
  .panel-default > .panel-heading.panel-heading-lg {
    height: 300px; }
  .panel-default > .panel-heading.panel-heading-no-padding {
    padding: 0; }
    .panel-default > .panel-heading.panel-heading-no-padding img {
      border-radius: 4px 4px 0 0; }
  .panel-default > .panel-heading.align-top {
    background-position: center top; }
  .panel-default > .panel-heading.align-bottom {
    background-position: center bottom; }

.panel-body {
  padding: 15px 20px; }

.panel-footer {
  background-color: transparent;
  border-color: #e9e9e9;
  border-top: 1px solid #ccc;
  color: #111 !important;
  padding: 15px 20px; }

.panel-index {
  margin-bottom: 0;
  margin-top: 32px; }
  .panel-index .navbar-brand {
    padding: 10px 0 10px 15px !important; }
    .panel-index .navbar-brand span {
      font-weight: 400; }
    .panel-index .navbar-brand h1 {
      color: #0072bc;
      margin: 4px 0 4px 12px !important; }
  .panel-index:hover .navbar-brand h1, .panel-index:focus .navbar-brand h1 {
    color: #fff !important; }
    .panel-index:hover .navbar-brand h1 strong, .panel-index:focus .navbar-brand h1 strong {
      color: #fff !important; }

.panel-index > .panel-heading {
  min-height: 256px; }

.panel-icon .panel-heading {
  background-color: #0072bc;
  text-align: center; }
  .panel-icon .panel-heading i {
    color: #fff;
    font-size: 70px;
    padding: 30px 0; }
.panel-icon.panel-primary .panel-heading {
  background-color: #0072bc; }
.panel-icon.panel-secondary .panel-heading {
  background-color: #00b9f1; }
.panel-icon.panel-success .panel-heading {
  background-color: #46a948; }
.panel-icon.panel-warning .panel-heading {
  background-color: #f0ad4e; }
.panel-icon.panel-danger .panel-heading, .panel-icon.panel-complementary .panel-heading {
  background-color: #d9534f; }

.panel-primary .panel-heading {
  background-color: #0072bc; }

.panel-secondary .panel-heading {
  background-color: #00b9f1; }

.panel-success .panel-heading {
  background-color: #46a948; }

.panel-warning .panel-heading {
  background-color: #f0ad4e; }

.panel-danger .panel-heading {
  background-color: #d9534f; }

.panel-id > .panel-body {
  padding-bottom: 30px; }

.row-big .panel-heading {
  min-height: 256px !important; }

.row-big-mini .panel-heading {
  min-height: 192px !important; }

.panels-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .panels-row > div {
    display: flex; }
    .panels-row > div .panel {
      width: 100%; }

.flex-row {
  display: flex; }

@media screen and (min-width: 768px) {
  .panel.panel-default .panel-heading {
    min-height: 180px; }

  .panel.panel-default.panel-lg .panel-heading {
    min-height: 250px; }

  .panel.panel-icon .panel-heading {
    min-height: 152px; } }
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%; }

.jumbotron {
  position: relative;
  background-position: center center;
  background-size: cover;
  color: #fff;
  margin-bottom: 0;
  padding: 0; }
  .jumbotron h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: .3em;
    margin-top: 0;
    text-transform: none; }
  .jumbotron p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px; }
  .jumbotron .jumbotron_bar {
    background: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    padding: 16px 0;
    position: relative;
    z-index: 3; }
    .jumbotron .jumbotron_bar .list-inline {
      margin-bottom: 0;
      margin-top: 0; }
      .jumbotron .jumbotron_bar .list-inline .dropdown {
        display: inline-block; }
      .jumbotron .jumbotron_bar .list-inline > li:after {
        content: '|';
        margin-left: 15px; }
      .jumbotron .jumbotron_bar .list-inline > li:last-child:after {
        content: '';
        margin-left: 0; }
      .jumbotron .jumbotron_bar .list-inline > li > a,
      .jumbotron .jumbotron_bar .list-inline > li > .dropdown > a {
        color: #fff;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
        .jumbotron .jumbotron_bar .list-inline > li > a:hover,
        .jumbotron .jumbotron_bar .list-inline > li > .dropdown > a:hover {
          opacity: .8; }
        .jumbotron .jumbotron_bar .list-inline > li > a .glyphicon,
        .jumbotron .jumbotron_bar .list-inline > li > .dropdown > a .glyphicon {
          margin-right: 10px; }
    .jumbotron .jumbotron_bar .breadcrumb {
      margin: 0;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
      .jumbotron .jumbotron_bar .breadcrumb li {
        margin-bottom: 0; }
        .jumbotron .jumbotron_bar .breadcrumb li:first-child:after {
          content: '';
          margin: 0; }
        .jumbotron .jumbotron_bar .breadcrumb li a {
          color: #fff;
          font-size: 14px;
          text-decoration: none; }
        .jumbotron .jumbotron_bar .breadcrumb li span {
          font-size: 14px; }
  .jumbotron .jumbotron_body {
    position: relative;
    padding: 80px 0;
    z-index: 2; }
    .jumbotron .jumbotron_body h1 {
      color: #fff;
      font-size: 44px;
      font-weight: 700;
      margin-bottom: .3em;
      margin-top: 0;
      text-transform: none; }
    .jumbotron .jumbotron_body h1, .jumbotron .jumbotron_body h2, .jumbotron .jumbotron_body h3, .jumbotron .jumbotron_body h4, .jumbotron .jumbotron_body h5, .jumbotron .jumbotron_body h6 {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
    .jumbotron .jumbotron_body h1:not(.panel), .jumbotron .jumbotron_body h2:not(.panel), .jumbotron .jumbotron_body h3:not(.panel), .jumbotron .jumbotron_body h4:not(.panel), .jumbotron .jumbotron_body h5:not(.panel), .jumbotron .jumbotron_body h6:not(.panel) {
      text-shadow: none; }
    .jumbotron .jumbotron_body p {
      font-size: 20px;
      line-height: 27px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
    .jumbotron .jumbotron_body a:not(.btn):not(.panel) {
      color: #fff;
      text-decoration: underline; }
      .jumbotron .jumbotron_body a:not(.btn):not(.panel):hover {
        opacity: .8; }
    .jumbotron .jumbotron_body .btn {
      text-shadow: none; }
    .jumbotron .jumbotron_body.jumbotron_body-lg {
      padding: 120px 0; }
  .jumbotron .align-top {
    background-position: center top; }
  .jumbotron .align-bottom {
    background-position: center bottom; }
  .jumbotron .btn-xl {
    margin-top: 16px; }
  @media screen and (min-width: 768px) {
    .jumbotron h2 {
      font-size: 44px; } }
  @media screen and (max-width: 767px) {
    .jumbotron {
      position: relative;
      min-height: 240px;
      padding: 0; }
      .jumbotron h1 {
        font-size: 32px !important; } }

.container .jumbotron {
  border-radius: 7px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0; }
  .container .jumbotron .jumbotron_body {
    padding: 60px; }

@media screen and (min-width: 768px) {
  .jumboarticle {
    min-height: 450px; } }
@media screen and (max-width: 767px) {
  .jumboarticle {
    min-height: 250px; } }

label {
  font-weight: 400; }
  label.control-label {
    font-weight: 700; }

.form-group {
  margin-bottom: 30px; }

.form-control {
  color: #111;
  font-size: 18px;
  height: 54px;
  padding: 6px 8px;
  border: solid 1px #ccc; }
  .form-control[disabled], .form-control[readonly] {
    background-color: #e9e9e9; }

fieldset.framed {
  padding: 10px 30px;
  border-radius: 4px;
  margin-bottom: 30px;
  border: 1px solid #ccc; }
fieldset[disabled] .form-control {
  background-color: #e9e9e9; }

.input-lg,
select.input-lg {
  font-size: 20px;
  font-weight: 400;
  height: 65px;
  padding: 10px 20px; }

.input-sm {
  height: 30px; }

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-radius: 4px;
  font-size: 20px;
  height: 65px;
  line-height: 1.3333333;
  padding: 10px 20px; }

.input-group-lg > .input-group-btn > .btn .glyphicon {
  font-size: 1.4em; }

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.input-group-addon:first-child {
  border-right: 0; }

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.input-group-addon:last-child {
  border-left: 0; }

.input-group > .form-item > input {
  border-radius: 4px 0 0 4px !important; }

.input-group-shadow {
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  .input-group-shadow .form-control {
    border: 0; }
  .input-group-shadow .btn {
    margin: 0; }

input[type='text']::-webkit-input-placeholder {
  color: #767676; }
input[type='text']::-moz-placeholder {
  color: #767676; }
input[type='text']:-moz-placeholder {
  color: #767676; }
input[type='text']:-ms-input-placeholder {
  color: #767676; }

.form-complete input[type='text']::-webkit-input-placeholder {
  color: #111; }
.form-complete input[type='text']::-moz-placeholder {
  color: #111; }
.form-complete input[type='text']:-moz-placeholder {
  color: #111; }
.form-complete input[type='text']:-ms-input-placeholder {
  color: #111; }

.inputfile {
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: .1px;
  z-index: -1; }
  .inputfile:focus + label {
    background-color: #e0e2e2; }
  .inputfile + label {
    background-color: #ececec;
    border: 2px solid #e0e2e2;
    display: inline-block;
    font-weight: bold;
    padding: 4px 15px;
    transition: .3s ease-in-out; }
    .inputfile + label:hover {
      background-color: #e0e2e2; }

.has-success .form-control {
  border-color: #43894E; }

.has-warning .form-control {
  border-color: #C1994D; }

.has-error .form-control {
  border-color: #BB4945; }

.input-group-btn .btn-default {
  background-color: #838383;
  border: 1px solid #ccc;
  padding: 15px 25px; }

.open > .dropdown-toggle.btn-default {
  color: #fff !important; }

.has-feedback input ~ .form-control-feedback {
  top: 38px; }
.has-feedback input.input-sm ~ .form-control-feedback {
  top: 28px; }
.has-feedback input.input-lg ~ .form-control-feedback {
  top: 36px; }

.social-share {
  margin: 0;
  min-height: 32px; }
  .social-share p {
    color: #767676;
    float: left;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 8px; }
  .social-share span {
    color: #767676; }
  .social-share ul {
    float: left;
    margin: 5px 10px 5px 5px; }
  .social-share li {
    border-radius: 4px;
    margin: 0;
    padding: 6px; }
    .social-share li:hover {
      background: #0072bc; }
      .social-share li:hover span,
      .social-share li:hover i {
        color: #fff; }
  .social-share small {
    position: relative;
    top: -4px;
    font-size: 14px; }
  .social-share a {
    display: inherit;
    font-size: 30px;
    line-height: 0;
    min-width: 35px;
    padding: 3px 5px 2px;
    text-align: center; }
  .social-share h3 {
    margin-top: 0; }
    .social-share h3 strong {
      float: left;
      font-size: 32px; }
    .social-share h3 small {
      position: relative;
      top: -22px;
      left: 15px;
      float: left; }
  .social-share.is_area {
    text-align: center; }
    .social-share.is_area br {
      display: none; }
    .social-share.is_area span {
      margin-bottom: 10px; }
    .social-share.is_area p,
    .social-share.is_area ul {
      float: none; }

.social-btn {
  min-height: 48px; }
  .social-btn ul {
    padding: 0; }
    .social-btn ul li {
      float: left;
      list-style: none; }
  .social-btn .social-label {
    color: #767676;
    float: left;
    line-height: 1.3;
    margin: 3px 8px 0 0; }
  .social-btn a {
    position: relative;
    top: -1px;
    border-radius: 4px;
    display: block;
    font-size: 30px;
    height: 48px;
    line-height: 1;
    padding: 0 10px;
    padding-top: 9px;
    text-align: center;
    width: 48px; }
    .social-btn a:hover, .social-btn a:focus {
      background: #0072bc;
      color: #fff; }

.main-footer .social-btn ul {
  margin-top: -15px; }
.main-footer .social-btn a {
  position: relative;
  top: -1px;
  border-radius: 4px;
  display: block;
  font-size: 30px;
  height: 48px;
  line-height: 1;
  padding: 0 10px;
  padding-top: 9px;
  text-align: center;
  width: 48px; }

.social-btn-contact p {
  margin-bottom: 16px; }
.social-btn-contact a {
  font-size: 32px;
  text-decoration: none; }
  .social-btn-contact a:hover, .social-btn-contact a:focus {
    text-decoration: underline; }
.social-btn-contact .fa {
  margin-right: 10px;
  text-align: center;
  width: 30px; }

.actions-items .social-btn {
  display: inline; }
  .actions-items .social-btn .social-label {
    padding: 10px 0; }

.social-date {
  min-height: 36px; }
  .social-date h4 {
    position: relative;
    top: 7px;
    color: #767676;
    font-size: 14px;
    padding-left: 30px;
    text-align: right; }

.table.table-align-middle td {
  vertical-align: middle; }
.table.table-spaced td,
.table.table-spaced th {
  padding: 12px 4px; }
.table th {
  line-height: 1.2; }
  .table th a {
    color: #111; }
    .table th a:hover {
      text-decoration: underline;
      cursor: pointer; }
.table td small {
  color: #767676;
  font-weight: normal; }
.table td.td-strong {
  font-size: 1.1em;
  font-weight: bold; }
.table td.td-fixed {
  width: 8%; }

.table-hover > tbody > tr:hover {
  background-color: #e9e9e9; }

.alert {
  font-weight: 300; }

.alert-warning,
.alert-success,
.alert-info,
.alert-danger {
  color: #444; }

.alert-warning {
  background: #fceedb;
  border-color: #f4c37d; }
  .alert-warning i {
    color: #f0ad4e; }

.alert-success {
  background: #d0ebd0;
  border-color: #63bf65; }
  .alert-success i {
    color: #46a948; }

.alert-info {
  background: #daf1f8;
  border-color: #85d0e7; }
  .alert-info i {
    color: #5bc0de; }

.alert-danger {
  background: #f9e2e2;
  border-color: #e27c79; }
  .alert-danger i {
    color: #d9534f; }

a.alert:hover {
  text-decoration: none;
  color: #111; }
a.alert.alert-warning:hover {
  background: #fae3c4; }
a.alert.alert-warning i {
  color: #f0ad4e; }
a.alert.alert-success:hover {
  background: #b6e1b7; }
a.alert.alert-success i {
  color: #46a948; }
a.alert.alert-info:hover {
  background: #c5e9f3; }
a.alert.alert-info i {
  color: #5bc0de; }
a.alert.alert-danger:hover {
  background: #f4cecd; }
a.alert.alert-danger i {
  color: #d9534f; }

@media (max-width: 544px) {
  .alert .fa.fa-fw {
    width: 1em; } }
@media (max-width: 330px) {
  .alert .fa.fa-fw {
    width: 0.7em; } }
.dashboard ol {
  padding: 15px; }
  .dashboard ol li {
    margin-bottom: 10px; }

.chart {
  height: 250px;
  margin: 40px 0 60px;
  width: 100%; }
  .chart.chart-sm {
    height: 180px; }
  .chart.chart-md {
    height: 350px; }
  .chart.chart-lg {
    height: 450px; }

.numbers.row {
  padding: 30px 0; }
  .numbers.row > div {
    margin-bottom: 30px; }
  .numbers.row.spaced {
    margin-left: -30px;
    margin-right: -30px; }
    .numbers.row.spaced > div {
      padding-left: 30px;
      padding-right: 30px; }
.numbers h1, .numbers .h1 {
  font-size: 4em;
  font-weight: bold;
  margin: .2em 0; }
.numbers h2, .numbers .h2 {
  font-size: 3em;
  font-weight: bold;
  margin: .2em 0; }
.numbers h3, .numbers .h3 {
  font-size: 2.4em;
  font-weight: bold;
  margin: .2em 0; }
.numbers h4, .numbers .h4 {
  font-size: 1.8em;
  font-weight: bold;
  margin: .2em 0; }
.numbers p.lead {
  font-size: 1.2em;
  font-weight: bold;
  margin: .2em 0; }
@media (min-width: 768px) {
  .numbers.row > div {
    margin-bottom: 0; }
  .numbers h1 {
    font-size: 6em; }
  .numbers h2 {
    font-size: 4em; }
  .numbers h3 {
    font-size: 3em; }
  .numbers h4 {
    font-size: 1.5em; } }

.progress {
  background-color: #e9e9e9; }
  .progress.progress-sm {
    height: 12px; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-a-0 {
  margin: 0 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a-1 {
  margin: 1rem 1rem !important; }

.m-t-1 {
  margin-top: 1rem !important; }

.m-r-1 {
  margin-right: 1rem !important; }

.m-b-1 {
  margin-bottom: 1rem !important; }

.m-l-1 {
  margin-left: 1rem !important; }

.m-x-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.m-a-2 {
  margin: 1.5rem 1.5rem !important; }

.m-t-2 {
  margin-top: 1.5rem !important; }

.m-r-2 {
  margin-right: 1.5rem !important; }

.m-b-2 {
  margin-bottom: 1.5rem !important; }

.m-l-2 {
  margin-left: 1.5rem !important; }

.m-x-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.m-y-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.m-a-3 {
  margin: 3rem 3rem !important; }

.m-t-3 {
  margin-top: 3rem !important; }

.m-r-3 {
  margin-right: 3rem !important; }

.m-b-3 {
  margin-bottom: 3rem !important; }

.m-l-3 {
  margin-left: 3rem !important; }

.m-x-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.m-a-4 {
  margin: 4rem 4rem !important; }

.m-t-4 {
  margin-top: 4rem !important; }

.m-r-4 {
  margin-right: 4rem !important; }

.m-b-4 {
  margin-bottom: 4rem !important; }

.m-l-4 {
  margin-left: 4rem !important; }

.m-x-4 {
  margin-right: 4rem !important;
  margin-left: 4rem !important; }

.m-y-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important; }

.p-a-0 {
  padding: 0 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a-1 {
  padding: 1rem 1rem !important; }

.p-t-1 {
  padding-top: 1rem !important; }

.p-r-1 {
  padding-right: 1rem !important; }

.p-b-1 {
  padding-bottom: 1rem !important; }

.p-l-1 {
  padding-left: 1rem !important; }

.p-x-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.p-a-2 {
  padding: 1.5rem 1.5rem !important; }

.p-t-2 {
  padding-top: 1.5rem !important; }

.p-r-2 {
  padding-right: 1.5rem !important; }

.p-b-2 {
  padding-bottom: 1.5rem !important; }

.p-l-2 {
  padding-left: 1.5rem !important; }

.p-x-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.p-y-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-a-3 {
  padding: 3rem 3rem !important; }

.p-t-3 {
  padding-top: 3rem !important; }

.p-r-3 {
  padding-right: 3rem !important; }

.p-b-3 {
  padding-bottom: 3rem !important; }

.p-l-3 {
  padding-left: 3rem !important; }

.p-x-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.p-a-3 {
  padding: 3rem 3rem !important; }

.p-t-4 {
  padding-top: 4rem !important; }

.p-r-4 {
  padding-right: 4rem !important; }

.p-b-4 {
  padding-bottom: 4rem !important; }

.p-l-4 {
  padding-left: 4rem !important; }

.p-x-4 {
  padding-right: 4rem !important;
  padding-left: 4rem !important; }

.p-y-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-xs-left {
  text-align: left !important; }

.text-xs-right {
  text-align: right !important; }

.text-xs-center {
  text-align: center !important; }

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left !important; }

  .text-sm-right {
    text-align: right !important; }

  .text-sm-center {
    text-align: center !important; } }
@media (min-width: 992px) {
  .text-md-left {
    text-align: left !important; }

  .text-md-right {
    text-align: right !important; }

  .text-md-center {
    text-align: center !important; } }
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left !important; }

  .text-lg-right {
    text-align: right !important; }

  .text-lg-center {
    text-align: center !important; } }

/*# sourceMappingURL=poncho.css.map */
